// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon1-name: 'icon1';
$icon1-x: 0px;
$icon1-y: 0px;
$icon1-offset-x: 0px;
$icon1-offset-y: 0px;
$icon1-width: 38px;
$icon1-height: 37px;
$icon1-total-width: 95px;
$icon1-total-height: 94px;
$icon1-image: 'sprite.png';
$icon1: (0px, 0px, 0px, 0px, 38px, 37px, 95px, 94px, '/images/sprite.png', 'icon1', );
$icon2-name: 'icon2';
$icon2-x: 0px;
$icon2-y: 37px;
$icon2-offset-x: 0px;
$icon2-offset-y: -37px;
$icon2-width: 30px;
$icon2-height: 31px;
$icon2-total-width: 95px;
$icon2-total-height: 94px;
$icon2-image: 'sprite.png';
$icon2: (0px, 37px, 0px, -37px, 30px, 31px, 95px, 94px, '/images/sprite.png', 'icon2', );
$icon3-name: 'icon3';
$icon3-x: 26px;
$icon3-y: 68px;
$icon3-offset-x: -26px;
$icon3-offset-y: -68px;
$icon3-width: 27px;
$icon3-height: 21px;
$icon3-total-width: 95px;
$icon3-total-height: 94px;
$icon3-image: 'sprite.png';
$icon3: (26px, 68px, -26px, -68px, 27px, 21px, 95px, 94px, '/images/sprite.png', 'icon3', );
$icon4-name: 'icon4';
$icon4-x: 38px;
$icon4-y: 0px;
$icon4-offset-x: -38px;
$icon4-offset-y: 0px;
$icon4-width: 30px;
$icon4-height: 31px;
$icon4-total-width: 95px;
$icon4-total-height: 94px;
$icon4-image: 'sprite.png';
$icon4: (38px, 0px, -38px, 0px, 30px, 31px, 95px, 94px, '/images/sprite.png', 'icon4', );
$icon5-name: 'icon5';
$icon5-x: 30px;
$icon5-y: 37px;
$icon5-offset-x: -30px;
$icon5-offset-y: -37px;
$icon5-width: 29px;
$icon5-height: 29px;
$icon5-total-width: 95px;
$icon5-total-height: 94px;
$icon5-image: 'sprite.png';
$icon5: (30px, 37px, -30px, -37px, 29px, 29px, 95px, 94px, '/images/sprite.png', 'icon5', );
$lock-name: 'lock';
$lock-x: 53px;
$lock-y: 68px;
$lock-offset-x: -53px;
$lock-offset-y: -68px;
$lock-width: 13px;
$lock-height: 17px;
$lock-total-width: 95px;
$lock-total-height: 94px;
$lock-image: 'sprite.png';
$lock: (53px, 68px, -53px, -68px, 13px, 17px, 95px, 94px, '/images/sprite.png', 'lock', );
$new-post-48-name: 'new-post-48';
$new-post-48-x: 66px;
$new-post-48-y: 68px;
$new-post-48-offset-x: -66px;
$new-post-48-offset-y: -68px;
$new-post-48-width: 18px;
$new-post-48-height: 12px;
$new-post-48-total-width: 95px;
$new-post-48-total-height: 94px;
$new-post-48-image: 'sprite.png';
$new-post-48: (66px, 68px, -66px, -68px, 18px, 12px, 95px, 94px, '/images/sprite.png', 'new-post-48', );
$social1-name: 'social1';
$social1-x: 0px;
$social1-y: 68px;
$social1-offset-x: 0px;
$social1-offset-y: -68px;
$social1-width: 26px;
$social1-height: 26px;
$social1-total-width: 95px;
$social1-total-height: 94px;
$social1-image: 'sprite.png';
$social1: (0px, 68px, 0px, -68px, 26px, 26px, 95px, 94px, '/images/sprite.png', 'social1', );
$social2-name: 'social2';
$social2-x: 68px;
$social2-y: 0px;
$social2-offset-x: -68px;
$social2-offset-y: 0px;
$social2-width: 27px;
$social2-height: 26px;
$social2-total-width: 95px;
$social2-total-height: 94px;
$social2-image: 'sprite.png';
$social2: (68px, 0px, -68px, 0px, 27px, 26px, 95px, 94px, '/images/sprite.png', 'social2', );
$social3-name: 'social3';
$social3-x: 68px;
$social3-y: 26px;
$social3-offset-x: -68px;
$social3-offset-y: -26px;
$social3-width: 26px;
$social3-height: 26px;
$social3-total-width: 95px;
$social3-total-height: 94px;
$social3-image: 'sprite.png';
$social3: (68px, 26px, -68px, -26px, 26px, 26px, 95px, 94px, '/images/sprite.png', 'social3', );
$user-male-50-name: 'user-male-50';
$user-male-50-x: 68px;
$user-male-50-y: 52px;
$user-male-50-offset-x: -68px;
$user-male-50-offset-y: -52px;
$user-male-50-width: 15px;
$user-male-50-height: 16px;
$user-male-50-total-width: 95px;
$user-male-50-total-height: 94px;
$user-male-50-image: 'sprite.png';
$user-male-50: (68px, 52px, -68px, -52px, 15px, 16px, 95px, 94px, '/images/sprite.png', 'user-male-50', );
$spritesheet-width: 95px;
$spritesheet-height: 94px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($icon1, $icon2, $icon3, $icon4, $icon5, $lock, $new-post-48, $social1, $social2, $social3, $user-male-50, );
$spritesheet: (95px, 94px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
